.footer {
  padding-top: 10px;
  height: 60px;
  background-color:rgba(0, 0, 0, 0.4);
}

.footter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
}

.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;

  &:first-child {
    justify-content: flex-start;
  }

  &:last-child {
    justify-content: flex-end;
  }

  a {
    display: flex;
  }
}

.github {
  width: 38px;
  transition: .5s;

  &:hover {
    transform: scale(1.15);
  }
}

.rss {
  width: 85px;
  transition: .5s;

  &:hover {
    transform: scale(1.15);
  }
}