.won-page {
  padding: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 50vh;
    width: 100%;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    font-size: 30px;
    text-align: center;

    span {
      font-size: 50px;
    }
  }
}

@media (max-width: 620px) {
  .won-page {
    &__container {
      font-size: 24px;
      gap: 30px;

      span {
        font-size: 38px;
      }
    }
  }
}

@media (max-width: 440px) {
  .won-page {
    &__container {
      font-size: 22px;

      span {
        font-size: 32px;
      }
    }
  }
}